
.qrMain{
    margin: 5rem;

}
.qrMain__container{
    padding: 2rem ;
    background: linear-gradient(to bottom, #cedbe9 0%,#aac5de 17%,#6199c7 50%,#3a84c3 51%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.qrMain__container{
    @include mqTablet{
        display: grid;
        grid-template-columns: repeat(2, 1fr 2fr);
        .qrTicket--resumen{
            width: 100%;
            display: grid;
            grid-column: 2/5;
            grid-template-rows: repeat(2, 1fr 2fr);
        }
    }    
}
.detalleQr{
    margin-top: 2rem;
    display: grid;
    grid-row: 2/5;
    .detalleQr_container,
    .detalleQr_datos{
        width: 100%;
        height: 100%;
    }
}
.detalleQr{
    @include mqTablet{
        margin: auto;
        width: 80%;
    }
}

.detalleQr_item,
.detalleQr_valor{
        vertical-align: text-top;
    p{  
        vertical-align: top;
        font-family: $fuente_especial;
        font-size: 1rem;
        @include mqTablet{font-size: 1.7rem;}
        @include mqDesktop{font-size: 2.1rem;}
        @include mqDesktopXL{font-size: 2.7rem;}
    }
}
.detalleQr_valor{
    P{color: rgba($negro, 0.6);}
}



.qrTicket{
    border-radius: 2rem;
    padding: 1rem;
    margin: 0 auto;
    width: 27rem;
    background-color: $blanco;
  
    .qrTicket__imgContainer{
        margin: 0 auto;
        width: 25rem;
        height: 25rem;
        display: block;
        border: 6px solid rgba($crimson, 0.8);
        border-radius: 1rem;
        overflow: hidden;
        display: flex;
    }
}





.qrMain__tituloContainer{
    .qrMain__titulo{
        margin: 0;
        font-size: 2rem;
        text-align: center;
        @include mqTablet{font-size: 2.4rem;}
        @include mqDesktop{font-size: 2.8rem;}
        @include mqDesktopXL{font-size: 3.2rem;}

    }
}

.qrTicket__btnContainer{
    padding: 1rem 0;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr 3fr);
    grid-template-rows: repeat(2, 1fr);

    .qrTicket__btn{
        display: grid;
        grid-column: 2/5;
        cursor: pointer;
    }
}
.qrTicket__btnIcon{
    margin: auto;
    width: 2rem;
    height: 2rem;
}





