

.utl-position-absolute {
    position: absolute;
}
.utl-position-relative {
    position: relative;
}

.utl-position-relative {
    position: relative;
}
.utl-ocultar{
    opacity: 0;
    pointer-events: none;
}
.utl-display-none {
    display: none;
}
.utl-border-color-transparente{
    border-color: rgba($blanco, 0);
}
