
.post,
.createpost,
.tarjeta-evento-usuario-regular {
    background-color: white;
    box-shadow: 0 0 5px #4267b2;
    margin: auto;
    width: 650px;
    padding: 10px 16px;
    overflow: auto;
}


/* Create Post Control */

.createpostbuttons {
    width: 50%;
    margin: auto;
    overflow: auto;
}

.createpostbuttons img {
    display: inline-block;
    width: 12%;
    height: auto;
    margin-bottom: 0;
}

.createpostbuttons label {
    cursor: pointer;
}

.createpostbuttons input[type="file"] {
    display: none;
}

.createpostbuttons input[type=submit] {
    width: 86%;
    float: right;
    background-color: #4267b2;
}

.createpostbuttons input[type=submit]:hover {
    background-color: #23385f;
}


/* Post */

.post .public {
    float: right;
    text-align: center;
    width: auto;
}


/*============== HEADINGS AND LINKS ============*/



.nombre-evento {
    font-family: Fontin SmallCaps;
    color: rgb(40, 63, 77);
    font-weight: normal;
    font-size: 120%;
    margin-bottom: 0;
}

h3,
a.profilelink {
    font-family: Fontin SmallCaps;
    color: rgb(40, 63, 77);
    font-weight: normal;
    font-size: 120%;
    margin-bottom: 0;
    margin-top: 0;
    display: inline-block;
    margin-left: 5px;
    vertical-align: 12px;
    text-decoration: none;
}

a.profilelink:hover {
    text-decoration: underline;
}


/* Horizontal Line after H2 */

hr {
    margin-bottom: 30px;
    margin-top: 0px;
    border-color: rgb(40, 63, 77);
}


/*============== TAB SETTINGS ============*/

div.tab {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

div.tab button {
    background-color: #4267b2;
    border: none;
    outline: none;
    color: white;
    float: left;
    padding: 1px;
    cursor: pointer;
    width: 50%;
}

div.tab button:hover {
    background-color: #314e85;
}
/*==============SECCION TARGETAS EVENTOS============*/
.tarjeta-evento-usuario-regular{
    margin-top: 5rem;
}
.contenedor-iconos{
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
}
.icono-carrito,
.icono-compartir,
.icono-comentar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.pic-carrito,
.pic-compartir,
.pic-comentar{
    width: 4rem;
    margin: 0 auto;
}


/*==============DEFAULT TAB SETTINGS ============*/

div.tab button.active {
    background-color: #23385f;
}

#signup {
    display: none;
}


/*============== SUBMIT BUTTONS ============*/

input[type=submit] {
    color: white;
    cursor: pointer;
    background-color: #23385f;
    border: none;
    padding: 8px;
}

.container input[type=submit] {
    background-color: #4267b2;
}

.container input[type=submit]:hover {
    background-color: #23385f;
}


/*============= SPECIFIC BUTTONS MODIFICATION ========*/

input[type=checkbox] {
    width: fit-content;
}


/*============= FRIENDS FRAMES ========*/

.frame {
    width: 200px;
    display: inline-block;
    box-shadow: 0 0 5px #4267b2;
    background-color: white;
    padding: 10px;
    margin: 5px;
}


/*============= SUB CONTAINERS ========*/

.userquery {
    background-color: white;
    box-shadow: 0 0 5px #4267b2;
    margin: auto;
    width: 320px;
    padding: 20px 20px 0px 20px;
    overflow: auto;
    text-align: center;
}

.userquery a {
    text-decoration: none;
}

.userquery a:hover {
    text-decoration: underline;
}


/*============= DISABLED BUTTONS ========*/

input:disabled {
    cursor: auto;
}

#special:hover {
    background-color: #4267b2;
}